html{
    box-sizing: border-box;
}

div, section{
    display: flex;
    align-items: center;
}

.container{
    max-width: 65vw;
}

span{
 border-width: 1px;
 border-color: black;
 border-style: solid;
}

.notes{
    flex-direction: column;
}

.week:nth-child(1), :nth-child(7){
    flex-basis: 100%;
}