html{
    font-family: Helvetica, sans-serif ;
}

body {
    background-color: rgb(238, 238, 238);
}

section {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 40%;
}

h1 {
    font-family: Georgia, serif;
    font-size: 1em/1.2;
}

p{
    padding-bottom: 40px;
    margin-bottom: 0px;
}

div:last-of-type {
    padding: 30px;
    position: relative;
}

img {
    width: 100%;
}


button {
    position: absolute;
    margin-top: 20px;
    right: 30px;
    bottom: 30px;
    padding: 5px 16px;
    background-color: rgb(0, 153, 0) ;
    color: white;
    border-radius: 4px;
}